html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(assets/forest.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}